<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contact - NGO Event & Campaign Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>

    <h2>NGO Event & Campaign Management System</h2>

    <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/events">Events</a>
    <a href="/volunteer">Volunteer</a>
    <a href="/contact">Contact</a>
</nav>

</header>


<main>

    <h2>Contact & Project Information</h2>

    <p>
        For our Community Engagement Project, we partnered
        with Sevavrat Foundation in Pune.
    </p>

    <br>

    <div class="project">

        <h3>Sevavrat Foundation</h3>

        <p>
            <strong>Location:</strong>
            Pune, Maharashtra
        </p>

        <p>
            <strong>Project:</strong>
            Education and Digital Literacy
        </p>

    </div>


    <div class="project">

        <h3>College Information</h3>

        <p>
            <strong>College:</strong>
            Marathwada Mitra Mandal's College of Commerce
        </p>

        <p>
            <strong>University:</strong>
            Savitribai Phule Pune University
        </p>

        <p>
            <strong>Academic Year:</strong>
            2026–2027
        </p>

    </div>


    

</main>


<footer>

    <p>
        © 2026 NGO Event & Campaign Management System
    </p>

</footer>

</body>

</html>