<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NGO Event & Campaign Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>

<h2>NGO Event & Campaign Management System</h2>
    <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/events">Events</a>
    <a href="/volunteer">Volunteer</a>
    <a href="/contact">Contact</a>
</nav>

</header>


<!-- Hero Section -->

<div class="hero">

    <h1>NGO Event & Campaign Management System</h1>

    <p>
        Manage NGO events, campaigns and volunteers easily.
    </p>

    <a href="/projects" class="btn">
        View Projects
    </a>

</div>


<!-- NGO Information -->

<section>

    <h2>Sevavrat Foundation</h2>

    <p>
        Our NGO works for the welfare of children in slum areas,
        focusing on education and overall development.
    </p>

    <p>
        We aim to create a supportive learning environment
        through educational, creative and interactive activities.
    </p>

</section>


<!-- Current Project -->

<main>

    <h2>Education & Digital Literacy</h2>

    <p>
        <strong>Organization:</strong>
        Sevavrat Foundation, Pune
    </p>

    <p>
        <strong>Beneficiaries:</strong>
        Children from Slum Communities
    </p>

    <p>
        <strong>Focus:</strong>
        Education & Creativity
    </p>

    <br>

</main>


<footer>

    <p>
        © 2026 NGO Event & Campaign Management System
    </p>

</footer>

</body>

</html>